:root {
    --secondFont: "Lato", sans-serif;
    --mainColor: rgba(234, 0, 0, 1);
    --secondaryColor: rgba(242, 245, 246, 1);
    --textblue: rgba(0, 119, 255, 1);
    --textgreen: rgba(0, 164, 44, 1);
    --boxbg: #f2f5f6;
    --textcolor: #404040;
    --bbox: #00000080;
    --text-gradient: linear-gradient(
      193deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(0, 68, 157, 1) 100%
    );
  }
  html {
    font-family: var(--secondFont);
    font-size: 10px;
  }
  
  body {
    font-family: var(--secondFont);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }
  
  p {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 7rem;
    font-weight: 600;
  }
  
  h2 {
    font-size: 6rem;
  }
  
  h3 {
    font-size: 5.8rem;
  }
  .f40 {
    font-size: 4rem;
  }
  
  h4 {
    font-size: 3.2rem;
  }
  
  h5 {
    font-size: 2.5rem;
  }
  
  h6 {
    font-size: 2rem;
  }
  
  .mg-4 {
    margin: 4rem;
  }
  .mg-9 {
    margin: 9rem;
  }
  
  .mgx-4 {
    margin: 4rem 0;
  }
  .mgx-8 {
    margin: 8rem 0;
  }
  .mgx-9 {
    margin: 9rem 0;
  }
  .mgx-10 {
    margin: 10rem 0;
  }
  
  .p-9 {
    padding: 0 0 9rem 0;
  }
  .p-10 {
    padding: 0 0 10rem 0;
  }
  
  .pgy-9 {
    padding: 9rem 0;
  }
  
  .pdb-5 {
    padding-bottom: 5rem;
  }
  
  .gap-9 {
    gap: 9rem;
  }
  
  .textred {
    color: var(--mainColor);
  }
  .textblue {
    color: var(--textblue);
  }
  .textgreen {
    color: var(--textgreen);
  }
  
  .textcolor {
    color: var(--textcolor);
  }
  
  .active {
    color: var(--mainColor) !important;
  }
  
  .footer {
    overflow-x: hidden;
  }
  
  .boxbg {
    background-color: var(--boxbg);
  }
  
  .bbox {
    background-color: var(--bbox);
  }
  
  .dropdown-menu {
    filter: blur(0.5);
    padding: 0.5rem;
    background-color: rgba(240, 248, 255, 0.7);
    border: none;
  }
  
  .dropdown-item:hover {
    background-color: var(--mainColor);
    color: white;
    border-radius: 0.5rem;
  }
  
  .active {
    color: var(--mainColor) !important;
  }

 
.card-custom {
    display: flex;
    align-items: center;
   
    padding: 10px;
    border-radius: 8px;
    margin-top: -50px;
}
.image-container {
    position: relative;
    border: 2px solid #00aaff;
    border-radius: 8px;
    overflow: hidden;
    margin-right: -20px; /* Overlap effect */
    margin-left: 30px;
}
.image-container img {
    width: 540px;
    height: 570px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 0px;
}
.text-content {
    font-size: 1.1rem;
    padding: 130px;
    border: 2px solid #00aaff;
    border-radius: 8px;
    background-color: transparent;
    z-index: 1;
    width: 60%;
   font-size: 20px;
    margin-left: -120px; /* Overlap effect */
   margin-top: 350px;
    height: 350px;
}
.text-content ul {
    list-style-type: none;
    margin-top: -100px;
}
.text-content ul li::before {
    content: "• ";
    color: #00aaff;
}

.img{
  width: 550px; border-radius: 30px;}
  
  main {
    background-image: url(./assets/a\ and\ s/main.jpg);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .text-gradient {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .shadow-box{
      box-shadow: 10px 10px 20px rgba(94, 28, 28, 0.808);
  }
  
  @media (max-width: 576px) {
    html {
      font-size: 3px;
      
    }

    .img{
    height: 350px;
    width: 350px;
    border-radius: 30px;
    margin-top: -100px;
 


    }
    .card-custom {
      display: flex;
      align-items: center;
     
      padding: 0px;
      border-radius: 8px;
      margin-top: -50px;
  }
  .image-container {
      position: relative;
      border: 2px solid #00aaff;
      border-radius: 8px;
      overflow: hidden;
      margin-right: -220px; /* Overlap effect */
      margin-left: 30px;
      border: none;
  }
  .image-container img {
      width: 300px;
      height: 270px;
      object-fit: cover;
      border-radius: 8px;
      border: none;
      display: nne;
      margin-top: 25px;
  }
  .text-content {
      padding: 130px;
      border: none;
      border-radius: 8px;
      background-color: transparent;
      z-index: 0;
      width: 60%;
     font-size: 10px;
      margin-left: 0px; /* Overlap effect */
     margin-top:0px;
      height: 0px;
      display: none;
  }
  .text-content ul {
      list-style-type: none;
      margin-top: -10px;
      width: 142px;
  }
  .text-content ul li::before {
      content: "• ";
      color: #00aaff;
  }

.para{
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}
   
  }
  
  @media (max-width: 900px) {
    html {
      font-size: 5px;
    }

    .img{
      height: 350px;
      width: 300px;
      border-radius: 30px;
      margin-top: -100px;
      margin-bottom: 20px;
   
  }

  .text-content ul {
    list-style-type: none;
    margin-top: -10px;
    width: 300px;
}
}




@media (min-width: 1024px) and (max-width: 1366px) {
  .img{
    height: 450px;
    width: 450px;
    border-radius: 30px;
    margin-top: -100px;
    margin-bottom: 20px;
 
}
}