:root {
  --secondFont: "Lato", sans-serif;
  --mainColor: rgba(234, 0, 0, 1);
  --secondaryColor: rgba(242, 245, 246, 1);
  --secondaryhoverColor: rgb(222, 233, 236);
  --textblue: rgba(0, 119, 255, 1);
  --textgreen: rgba(0, 164, 44, 1);
  --boxbg: #f2f5f6;
  --textcolor: #404040;
  --bbox:#00000080;
}
html {
  font-family: var(--secondFont);
  font-size: 10px;
}

body {
  font-family: var(--secondFont);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 7rem;
  font-weight: 600;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 5.8rem;
}
.f40 {
  font-size: 4rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

.mg-4 {
  margin: 4rem;
}
.mg-9 {
  margin: 9rem;
}

.mgx-4 {
  margin: 4rem 0;
}
.mgx-8 {
  margin: 8rem 0;
}
.mgx-9 {
  margin: 9rem 0;
}
.mgx-10 {
  margin: 10rem 0;
}

.p-10{
    padding: 0 0 10rem 0;
}

.pgy-9 {
  padding: 9rem 0;
}

.pdb-5 {
  padding-bottom: 5rem;
}

.gap-9 {
  gap: 9rem;
}

.textred {
  color: var(--mainColor);
}
.textblue {
  color: var(--textblue);
}
.textgreen {
  color: var(--textgreen);
}

.textcolor {
  color: var(--textcolor);
}

.active {
  color: var(--mainColor) !important;
}

.footer {
  overflow-x: hidden;
}

.boxbg {
  background-color: var(--boxbg);
}

.box:hover .bbox{
  transform: scale(1,1.1);
}

.bbox{
    background-color: var(--bbox);
}


.dropdown-menu {
  filter: blur(0.5);
  padding: 0.5rem;
  background-color: rgba(240, 248, 255, 0.7);
  border: none;
}

.dropdown-item:hover {
  background-color: var(--mainColor);
  color: white;
  border-radius: 0.5rem;
}

.active {
  color: var(--mainColor) !important;
}

main {
  background-image: url(./assets/av/second\ hero.jpg);
}

.ph1 {
  background-image: url(./assets/av/ph1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center start;
  height: 50rem;
}
.ph2 {
  background-image: url(./assets/av/ph2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center start;
  height: 50rem;
}
.ph3 {
  background-image: url(./assets/av/ph3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center start;
  height: 50rem;
}
.ph4 {
  background-image: url(./assets/av/ph4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center start;
  height: 50rem;
}
.ph5 {
  background-image: url(./assets/av/ph5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center start;
  height: 50rem;
}
.ph6 {
  background-image: url(./assets/av/ph6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center start;
  height: 50rem;
}
.ph7 {
  background-image: url(./assets/av/ph7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center start;
  height: 50rem;
}

.tograde:hover{
  color: var(--mainColor);
}

.certified-color:hover{
  background-color: var(--secondaryhoverColor)
}

@media (max-width: 576px) {
    html {
      font-size: 3px;
    }
    
  }
  
  @media (max-width:900px){
    html{
      font-size: 5px;
    }
  }